
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana;

}
header,footer{
    position: absolute;
    background-color: cornflowerblue;
    width: 100%;
    color: white;
}
header{
    height: 10vh;
    background-image: url(https://www.kindpng.com/picc/m/80-802876_do-list-logo-hd-png-download.png); 
    background-size: 63px 63px;
    background-position: left top;
    background-repeat: no-repeat;
    /* top: 0; */
}
header h1 {
    position: absolute;
    margin-top: 7px;
    left: 10%;
}
footer{
    height: 10vh;
    bottom: 0;
}
footer p {
    position: absolute;
    left: 40%;
    margin-top: 20px;
}
nav {
position: absolute;
width: 100%;
}
nav a {
    position: relative;
    left: 45%;
    top: 20px;
    color: white;
    text-decoration: none;
    margin-right: 50px;
}
main{
    text-align: center;
    position: absolute;
    top: 10vh;
    bottom: 10vh;
    background-color: rgba(219, 250, 46, 0.993);
    width: 100%;
    
}
.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 50%;
    width: 50%;

  }
  main p {
      margin-top: 100px;
  }